body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	width: 100%;
	margin: 0px;
	overflow-y: scroll;
}

a {
	color: #afafaf;
}
a:hover {
	color: #000;
}

#container {
	max-width: 1137px;
	margin: 0 auto;
}
#container header {
	text-align: center;
}

/* post style */
.posts .post {
	width: 30%;
	text-align: justify;
	margin: 1.66%;
	background: rgba(255,255,255,0.5);
}
.posts .post img {
	max-width: 100%;
}

/* login */
.login-form {
	text-align: center;
}

/* footer */
footer {
	text-align: center;
}